@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --color-bg-primary: hsl(256, 26%, 20%);
  --color-bg-secondary: hsl(216, 30%, 68%);

  --color-text-primary: hsl(270, 9%, 17%);
  --color-text-secondary: hsl(273, 4%, 51%);
  --color-text-tertiary: hsl(0, 0%, 98%);

  --font-serif-display: "DM Serif Display", serif;
}

@theme {
  --color-bg-primary: hsl(256, 26%, 20%);
  --color-bg-secondary: hsl(216, 30%, 68%);

  --color-text-primary: hsl(270, 9%, 17%);
  --color-text-secondary: hsl(273, 4%, 51%);
  --color-text-tertiary: hsl(0, 0%, 98%);
}

body {
  font-family: "Karla", sans-serif;
}

@layer base {
  .navList {
    @apply tracking-wider uppercase;
  }

  .navBtnList {
    @apply uppercase text-text-primary font-bold border-2 border-text-primary px-4.5 py-1 hover:bg-bg-primary hover:text-text-tertiary cursor-pointer;
  }

  .bodyBtn {
    @apply uppercase text-text-tertiary border-2 border-text-tertiary text-[1.2rem] font-bold px-9 py-2 hover:bg-text-tertiary hover:text-text-primary duration-300;
  }

  .navFooterHeader {
    @apply text-text-secondary text-[0.95rem] font-bold;
  }

  .navFooterList {
    @apply text-text-primary text-[1.05rem] font-bold mt-4.5;
  }

  .effectNav {
    @apply hover:text-text-primary duration-300;
  }

  /* Tailwind @layer (optional but clean) */
  .footerNav {
    @apply hover:underline duration-300 cursor-pointer;
  }
}

@layer components {
  .maxWidth {
    @apply max-w-[90%] mx-auto;
  }

  .cursor {
    @apply cursor-pointer;
  }

  .fontHeading {
    font-family: var(--font-serif-display);
  }
}
