@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --font-serif-display: "DM Serif Display", serif;
}

@theme {
  --color-bg-primary: hsl(256, 26%, 20%);
  --color-bg-secondary: hsl(216, 30%, 68%);

  --color-text-primary: hsl(270, 9%, 17%);
  --color-text-secondary: hsl(273, 4%, 51%);
  --color-text-tertiary: hsl(0, 0%, 98%);
}

body {
  font-family: "Karla", sans-serif;
}

@layer base {
  .navList {
    @apply tracking-wider uppercase;
  }

  .navBtnList {
    @apply uppercase text-text-primary font-bold border-2 border-text-primary px-4.5 py-1 hover:bg-bg-primary hover:text-text-tertiary cursor-pointer;
  }

  .navMobileList {
    @apply uppercase text-text-tertiary font-bold border-2 border-text-tertiary px-16 py-3 hover:bg-bg-primary hover:text-text-tertiary cursor-pointer mt-5;
  }

  .bodyBtn {
    @apply uppercase text-text-tertiary border-2 border-text-tertiary text-[1.2rem] px-9 py-2 hover:bg-text-tertiary hover:text-text-primary duration-300 max-[1100px]:px-7 max-[950px]:mt-7 max-[500px]:text-[1.1rem] max-[325px]:text-[1rem] max-[325px]:leading-4.5;
  }

  .featureHeader {
    @apply text-text-primary text-[2rem] font-normal mt-5 max-[950px]:text-[1.5rem] max-[750px]:text-[1.3rem] max-[600px]:text-[1.7rem] max-[325px]:text-[1.4rem];
  }

  .featureText {
    @apply text-text-secondary text-[1.15rem] leading-relaxed mt-4 max-[950px]:text-[1.05rem] max-[750px]:text-[0.88rem] max-[600px]:text-[1.1rem] max-[325px]:text-[1rem];
  }

  .featureResponsive {
    @apply max-[600px]:flex max-[600px]:flex-col max-[600px]:items-center max-[600px]:justify-center;
  }

  .navFooterHeader {
    @apply text-text-secondary text-[0.95rem] font-bold max-[750px]:text-[0.85rem] max-[600px]:text-[0.9rem];
  }

  .navFooterList {
    @apply text-text-primary text-[1.05rem] font-bold mt-4.5 max-[750px]:text-[0.88rem] max-[600px]:text-[1rem];
  }

  .effectNav {
    @apply hover:text-text-primary duration-300;
  }

  .footerNav {
    @apply hover:underline duration-300 cursor-pointer;
  }
}

@layer components {
  .maxWidth {
    @apply max-w-[90%] mx-auto max-[600px]:max-w-[85%];
  }

  .cursor {
    @apply cursor-pointer;
  }

  .fontHeading {
    font-family: var(--font-serif-display);
  }
}
